<header>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand text-light fw-bolder" routerLink="">
            <i class="fa-solid fa-building-columns fa-beat"></i>
            Union Bank </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-light fw-bolder"  routerLink="/user/login">Sign In</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link text-light fw-bolder" routerLink="/user/register">Join Now</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header> 