<app-header></app-header>

<!-- login design -->
<div class="container mt-5">
  <div class="row  align-items-center">
      <div class="col-lg-5">
            <!-- form -->
            <form [formGroup]="registerForm" class="border p-3 rounded" (ngSubmit)="register()" >
              <h1 class="text-primary mb-3">    Sign Up Page</h1>
              <!-- username -->
              <div class="form-floating mb-3">
                  <input name="username" formControlName="username" type="text" class="form-control" id="floatingInputname" placeholder="Username">
                  <label for="floatingInputname">Username</label>
                </div>
                <!-- username validation -->
                <div *ngIf="this.registerForm.get('username')?.touched&&this.registerForm.get('username')?.errors" class="mb-3 text-danger">
                  *Invalid Username
                </div>

              <div class="form-floating mb-3">
                  <input name="acno" formControlName="acno" type="text" class="form-control" id="floatingInputacno" placeholder="Account Number">
                  <label for="floatingInputacno">Account Number</label>
                </div>
                <!-- acno validation -->
                <div *ngIf="this.registerForm.get('acno')?.touched&&this.registerForm.get('acno')?.errors" class="mb-3 text-danger">
                  *Invalid Account Number
                </div>
                <div class="form-floating mb-3">
                  <input name="pswd" formControlName="pswd" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
                <!-- pswd validation -->
                <div *ngIf="this.registerForm.get('pswd')?.touched&&this.registerForm.get('pswd')?.errors" class="mb-3 text-danger">
                  *Invalid Password
                </div>
                <div class=" d-flex align-items-center">
                  <button type="submit" class="btn btn-success me-3">Register</button>
                  <p>Already User? Click here to <a routerLink="/user/login">Log In</a></p>
                </div>
          </form>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5 align-items-center ">
          <img class="img-fluid" src="https://cdni.iconscout.com/illustration/premium/thumb/login-3305943-2757111.png" alt="login form">

      </div>
  </div>
</div>
<app-footer></app-footer>